/*gradient*/
.boxLineal{
    width: 100%;
    height: 200px;
    background-color: lineal-gradient(45deg,red 45%,orange, aqua);
}

.boxRadial{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    background-color: radial-gradient(black 15%, white 75%);
}

/*transform*/
.boxTransform{
    width: 200px;
    height: 200px;
    border: 2px solid black;
    margin: 0 auto;
    font-size: 30px;
}

.boxTransform.translate{
    background-color: cyan;
    transform: translate(50px,25px); /*eje X, eje Y*/
}

.boxTransform.rotate{
    background-color: magenta;
    transform: rotateX(45deg); 
    transform: rotateY(45deg); 
    transform: rotateZ(45deg); 
    transition: all 1s;
}
.boxTransform.rotate:hover{
    background-color: orange;
    transform: rotateX(15deg); 
    transform: rotateY(15deg); 
    transform: rotateZ(15deg); 
}

.boxTransform.scale{
    background-color: greenyellow;
    transform: scale(2,1);/*eje x, eje y*/ 
}

.boxTransform.skew{
    background-color: black;
    color:white;
    margin-bottom: 500px;
    transform: skew(-20deg,30deg); /*eje x, eje y*/ 
}

/*transiciones*/

.boxTransition{
    width: 300px;
    height: 150px;
    background-color: tomato;
   /* transition: width 1s, heigth 2s;*/
   transition:  all 1s;
}
.boxTransition:hover{
    width: 600px;
    height: 300px;
}
.boxTransition:hover h1{
    color: white;
    font-size: 48px;
}
.boxTransition:hover + h2{ /* + selector avanzado hermano adyasente */
    color:red;
    font-size: 30px;
    background-color: aquamarine;
}
div input{
    width: 150px;
    height: 25px;
    transition: all 1s;
}
div input:hover{
    border: 10px solid tomato;
}
div input:focus{
    width: 300px;
    height: 50px;
}