/*===NORMALIZE==*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/*Barra de navegacion*/
.navbar{
    background-color:#1d2951 ;
}
.navbar-logo-img{
    width: 50px;
    margin: 5px;
}
.nav-item{
    text-decoration: none;
    list-style-type:none;
    margin-bottom: 10px;
    margin-left: 10px;
}
.nav-item a{
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    margin-bottom: 5px;
}
.nav-social img{
    width: 40px;
    margin-left: 10px;
}
@media (min-width:576px){
    .navbar-nav{
        align-items: center;
        justify-content: space-evenly;
        padding: 10px;
        width: 100%;
    }
}

.banner{
    height: 300px;

    background-image: url(../img/index-tierra.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;

    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.banner-ppal-txt{
    background-color: #3c33334a;
    text-align: center;
    margin: 5%;
}
.banner-ppal-txt h1{
    font-size: 30px;
    color: #fff;
}
.banner-ppal-txt p{
    font-size: 15px;
    color: #fff;
}
@media (min-width:601px){
    .banner{
        height: 400px;
    }
    .banner-ppal-txt h1{
        font-size: 40px;
    }
}
@media (min-width:1020px){
    .banner{
        height: 600px;
    }
    .banner-ppal-txt h1{
        font-size: 50px;
    }
}

/*=======NOTICIAS DE LA SEMANA=====*/
.article-week h2{
    text-align: center;
    margin: 2% 0;
}
.card{
    border-radius: 15px;
    overflow: hidden;
    width: 100%;
    height: 96%;
}
.card-img-overlay{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
    padding: 0;
}
.card-txt-container{
    background-color: #000000b3;
}
.link-btn{
    text-decoration: none;
    display: flex;
    justify-content: center;
    margin: 15px 0;
}
.article-button{
    border:solid 2px #0291FF;
    border-radius: 30px;
    background-color: #000;
    padding: 10px;
    color: #fff;
}
.art-index-btn p{
    margin: 0;
}

@media (min-width: 767px){
    .card-small p{
        display: none;
    }
}
@media (max-width: 425px){
    .mobile-disable{
        display: none;
    }
}
@media (max-width: 991px){
    .card{
        margin: 10px 0;
    }
}
@media (min-width: 576px)and (max-width: 767px){
    .card-big{
        width: 82.9%;
    }
 }
@media (min-width:992px){
    .card-small{
        margin: 5px auto;
    }
}


/*=======FOOTER========*/
footer{
    background-color: #1D2951;  
    width: 100%;
    margin-top: 60px;
}
.footer-container{
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 0 ;   
}
.footer-container li{
    display: inline;
    margin: 15px 0;
}
.footer-container a{
    text-decoration: none;
    color: #ffffff;
}
.footer-container a:hover{
    color: #0f97fc;
}
.footer-logo img{
    width: 100px;
    padding: 10px;
}
.footer-social img{
    width: 50px;
}
.footer-tradeMark span{
    color: #ffffff;
}
@media (max-width: 680px){
    .footer-container{
        flex-direction: column;
    }
}


/*===FORMULARIO==*/
.formulario{
    margin-top: 30px;
}

.form-container{
    margin:0 auto;
    background-image: url(../img/index-form.jpg);
    background-size: cover;
    overflow:hidden;
    background-repeat: no-repeat;
    background-position:center;
}

.formulario form{
    display: flex;
    align-content: center;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}
.formulario form legend{
    text-align: center;
    margin: 5px 50px;
    color: #fff;
}
.form-floating input{
    background-color: #ffffff97;
    border: none;
    border-radius: 10px;
    margin: 10px auto;
}
.form-floating-txt{
    color: #000;
}
.container-switch label{
    color: #fff;
}
.form-inputs{
    background-color: #00000047;
    border-radius: 15px;
    padding: 10px;
}
.btn-form{
    margin-bottom: 20px;
    background-color: #000;
    border:solid 1px #0291FF;
    border-radius: 30px;
    color: #fff;
    padding: 10px;
    margin: 10px 34%;
}

/*NOTICIAS.HTML*/
/*==Articulos===*/
article h2{
    font-size: 40px;
    margin: 30px 0 30px 15%;
}
.article-item{
    margin-left: 15%;
    width: 70%;
    display: flex;
    align-content: space-around;
    align-items: center;
    margin-bottom: 40px ;
    border: solid 2px #0291FF;
    border-radius: 30px;
    overflow: hidden;
}
.article-img-container{
    width: 240px;
    height: 240px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.articulo1{
    background-image: url(../img/tierra-luna.jpg);
}
.articulo2{
    background-image: url(../img/placeholder.png);
}
.articulo3{
    background-image: url(../img/astronauta.png);
}
.articulo4{
    background-image: url(../img/sound-speedOfSound.jpg);
}
.articulo5{
    background-image: url(../img/index-artemis.jpg);
}
.articulo6{
    background-image: url(../img/birdman.png);
}

.article-txt-container{
    width: 70%;
    margin-left: 5%;
}
.article-txt-container h3{
    margin-bottom: 10px;
    font-size: 30px;
}
.article-button{
    border:solid 2px #0291FF;
    border-radius: 30px;
    background-color: #000;
    padding: 10px;
    color: #fff;
}
.article-button a{
    text-decoration: none;
    color: #fff;
}

@media (max-width: 1024px){
    .article-item{
        flex-direction: column;
        align-items: center;
    }
    .article-img-container{
        width: 100%;
    }
    .article-img-container img{
        width: 100%;
        
    }
    .article-txt-container p{
        display: none;
    }

