/*variables*/

//Comentario que no compila en css
$colorPrincipal:aqua;
$colorBase:#000;
$colorBg: tomato;

$border: 2px solid #000;
$headings: 30px;

$mobile: 578px;
$tablet: 768px;
$desktop: 1200px;